.opcoes {
    display: flex;
    justify-content: space-around;
    gap: 60px;
    font-size: 16px;
}

.opcao {
    list-style: none;
    cursor: pointer;

}

.link {
    text-decoration: none;
    color: #000000;
}

